language: android
jdk: oraclejdk8
sudo: required
android:
  components:
    - platform-tools
    - tools
    - build-tools-23.0.1
    - build-tools-27.0.3
    - android-23
    - android-26
    - android-27
    - extra-android-m2repository
    - extra-google-google_play_services
    - extra-google-m2repository
licenses:
  - android-sdk-preview-license-.+
  - android-sdk-license-.+
  - google-gdk-license-.+
before_install:
  - nvm install 10
  - node --version
  - npm i -g react-native-cli
  - mkdir -p ./android/app/src/main/assets/
  - mkdir -p ./android/app/src/main/res/
  - openssl aes-256-cbc -K $encrypted_f6ba733fe176_key -iv $encrypted_f6ba733fe176_iv -in secrets.tar.enc -out secrets.tar -d
  - tar xvf ./secrets.tar
  - mv release.keystore ./android/app/
  - mv google-services.json ./android/app/
install:
  - npm i
script:
  - npm run build:prd